#IMPORTACION DE BIBLIOTECAS

In [123]:
import pandas as pd
from bs4 import BeautifulSoup
import numpy as np

In [124]:
#LECTURA DEL DATAFRAME
df = pd.read_csv('/content/[2023-9-10]propiedades_argenprop.csv')
df

,URL,Ubicación,Precio ARS,Precio USD,Expensas,Sup. cubierta [m²],Dormitorios,Baños,Ambientes,Cocheras,...,Tipo de coche,Tipo de acceso,Superficie cubierta,Cantidad baños,FOT,Toilletes,Sup. Cubierta,Pileta,Habitaciones,Descripción
0,https://www.argenprop.com/casa-en-alquiler-en-...,Honorio Pueyrredón 5500,NaN,1400.0,NaN,160.0,3,2.0,4,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.argenprop.com/casa-en-alquiler-en-...,Barrio Los Pilares,NaN,1000.0,NaN,NaN,2,2.0,3,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://www.argenprop.com/departamento-en-alqu...,Av. Balbin 2400,NaN,1100.0,NaN,76.0,2,2.0,3,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://www.argenprop.com/departamento-en-alqu...,Juramento al 1400,NaN,250.0,17500.0,35.0,NaN,1.0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://www.argenprop.com/casa-en-alquiler-en-...,Village Golf & Tennis,NaN,4000.0,NaN,330.0,4,2.0,6,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9319,https://www.argenprop.com/casa-en-alquiler-en-...,Centeno al 3200,130000.0,NaN,NaN,160.0,3,2.0,4,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9320,https://www.argenprop.com/cochera-en-alquiler-...,ESPAÑA 1300 COCH SUB 05,23000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9321,https://www.argenprop.com/local-en-alquiler-en...,Av. Uriburu 2000,180000.0,NaN,NaN,NaN,NaN,1.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9322,https://www.argenprop.com/departamento-en-alqu...,Avenida Pellegrini 600,80000.0,NaN,14000.0,35.0,NaN,1.0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9323,https://www.argenprop.com/departamento-en-alqu...,"Av. Portugal , Piso 04",100000.0,NaN,NaN,40.0,1,1.0,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#DATAFRAME BASE

In [125]:
df.columns

Index(['URL', 'Ubicación', 'Precio ARS', 'Precio USD', 'Expensas',
       'Sup. cubierta [m²]', 'Dormitorios', 'Baños', 'Ambientes', 'Cocheras',
       'Sup. terreno [m²]', 'Antigüedad [años]', 'Antiguedad [años]', 'Estado',
       'Disposición', 'Toilettes', 'Orientación', 'Apto profesional',
       'Sup. total [m²]', 'Seguridad', 'Permite mascota', 'Plantas',
       'Superficie Total', 'Longitud del Frente', 'Longitud del Fondo',
       'Altura Techo', 'Tipo de Baño', 'Tipo de local', 'En Edificio',
       'Longitud del frente', 'Longitud del fondo', 'Tipo de Terreno',
       'Sup. Total', 'Sup. descubierta [m²]', 'Galería/Shopping',
       'Agua corriente', 'Tipo de cochera', 'Tipo de cobertura',
       'Tipo de coche', 'Tipo de acceso', 'Superficie cubierta',
       'Cantidad baños', 'FOT', 'Toilletes', 'Sup. Cubierta', 'Pileta',
       'Habitaciones', 'Descripción'],
      dtype='object')

In [126]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9324 entries, 0 to 9323
Data columns (total 48 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   URL                    9324 non-null   object
 1   Ubicación              9324 non-null   object
 2   Precio ARS             2441 non-null   float64
 3   Precio USD             6570 non-null   float64
 4   Expensas               3412 non-null   float64
 5   Sup. cubierta [m²]     7694 non-null   float64
 6   Dormitorios            7014 non-null   object
 7   Baños                  8334 non-null   float64
 8   Ambientes              7512 non-null   object
 9   Cocheras               4607 non-null   float64
 10  Sup. terreno [m²]      2587 non-null   float64
 11  Antigüedad [años]      3898 non-null   object
 12  Antiguedad [años]      4004 non-null   float64
 13  Estado                 2451 non-null   object
 14  Disposición            1317 non-null   object
 15  Toilettes              484 non-null    float64
 16  Orientación            1347 non-null   object
 17  Apto profesional       693 non-null    object
 18  Sup. total [m²]        542 non-null    float64
 19  Seguridad              111 non-null    object
 20  Permite mascota        107 non-null    object
 21  Plantas                207 non-null    object
 22  Superficie Total       30 non-null     object
 23  Longitud del Frente    20 non-null     object
 24  Longitud del Fondo     19 non-null     object
 25  Altura Techo           12 non-null     object
 26  Tipo de Baño           17 non-null     object
 27  Tipo de local          81 non-null     object
 28  En Edificio            120 non-null    object
 29  Longitud del frente    72 non-null     object
 30  Longitud del fondo     71 non-null     object
 31  Tipo de Terreno        2 non-null      object
 32  Sup. Total             1 non-null      object
 33  Sup. descubierta [m²]  26 non-null     float64
 34  Galería/Shopping       6 non-null      object
 35  Agua corriente         30 non-null     object
 36  Tipo de cochera        6 non-null      object
 37  Tipo de cobertura      6 non-null      object
 38  Tipo de coche          4 non-null      object
 39  Tipo de acceso         6 non-null      object
 40  Superficie cubierta    3 non-null      object
 41  Cantidad baños         1 non-null      object
 42  FOT                    2 non-null      float64
 43  Toilletes              2 non-null      object
 44  Sup. Cubierta          1 non-null      object
 45  Pileta                 1 non-null      object
 46  Habitaciones           1 non-null      object
 47  Descripción            1 non-null      object
dtypes: float64(12), object(36)
memory usage: 3.4+ MB

In [127]:
seleccionC= ['URL', 'Ubicación', 'Precio ARS', 'Precio USD','Sup. cubierta [m²]', 'Dormitorios', 'Baños', 'Ambientes',
        'Antigüedad [años]', 'Antiguedad [años]', 'Estado',
       'Toilettes']

In [128]:
nuevo_df = df[seleccionC]
nuevo_df

,URL,Ubicación,Precio ARS,Precio USD,Sup. cubierta [m²],Dormitorios,Baños,Ambientes,Antigüedad [años],Antiguedad [años],Estado,Toilettes
0,https://www.argenprop.com/casa-en-alquiler-en-...,Honorio Pueyrredón 5500,NaN,1400.0,160.0,3,2.0,4,NaN,NaN,NaN,NaN
1,https://www.argenprop.com/casa-en-alquiler-en-...,Barrio Los Pilares,NaN,1000.0,NaN,2,2.0,3,14,NaN,NaN,NaN
2,https://www.argenprop.com/departamento-en-alqu...,Av. Balbin 2400,NaN,1100.0,76.0,2,2.0,3,NaN,11.0,Muy Bueno,NaN
3,https://www.argenprop.com/departamento-en-alqu...,Juramento al 1400,NaN,250.0,35.0,NaN,1.0,0,NaN,40.0,NaN,NaN
4,https://www.argenprop.com/casa-en-alquiler-en-...,Village Golf & Tennis,NaN,4000.0,330.0,4,2.0,6,A Estrenar,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
9319,https://www.argenprop.com/casa-en-alquiler-en-...,Centeno al 3200,130000.0,NaN,160.0,3,2.0,4,A Estrenar,NaN,NaN,NaN
9320,https://www.argenprop.com/cochera-en-alquiler-...,ESPAÑA 1300 COCH SUB 05,23000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9321,https://www.argenprop.com/local-en-alquiler-en...,Av. Uriburu 2000,180000.0,NaN,NaN,NaN,1.0,NaN,30,NaN,NaN,NaN
9322,https://www.argenprop.com/departamento-en-alqu...,Avenida Pellegrini 600,80000.0,NaN,35.0,NaN,1.0,0,NaN,55.0,NaN,NaN
9323,https://www.argenprop.com/departamento-en-alqu...,"Av. Portugal , Piso 04",100000.0,NaN,40.0,1,1.0,2,NaN,7.0,NaN,NaN

In [129]:
nuevo_df.shape

(9324, 12)

In [130]:
nuevo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9324 entries, 0 to 9323
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   URL                 9324 non-null   object
 1   Ubicación           9324 non-null   object
 2   Precio ARS          2441 non-null   float64
 3   Precio USD          6570 non-null   float64
 4   Sup. cubierta [m²]  7694 non-null   float64
 5   Dormitorios         7014 non-null   object
 6   Baños               8334 non-null   float64
 7   Ambientes           7512 non-null   object
 8   Antigüedad [años]   3898 non-null   object
 9   Antiguedad [años]   4004 non-null   float64
 10  Estado              2451 non-null   object
 11  Toilettes           484 non-null    float64
dtypes: float64(6), object(6)
memory usage: 874.2+ KB

#ANALISIS Y LIMPIEZA

In [131]:
#LUEGO DE LA SELECCION DE LAS COLUMNAS, COMENZAMOS LA LIMPIEZA DE DATOS DENTRO DE CADA COLUMNA.
#EN PRIMER LUGAR QUITAREMOS DE LA COLUMNA 'URL' TODAS LAS FILAS QUE CONTENGAN LAS PALABRAS 'LOCAL, COCHERA, NEGOCIO Y OFICINA'

localyoficina = nuevo_df.loc[nuevo_df['URL'].str.contains('local|oficina|cochera-en-alquiler|negocio')]
localyoficina

,URL,Ubicación,Precio ARS,Precio USD,Sup. cubierta [m²],Dormitorios,Baños,Ambientes,Antigüedad [años],Antiguedad [años],Estado,Toilettes
6,https://www.argenprop.com/local-en-alquiler-en...,AV DEL ROSARIO 800,180000.0,NaN,NaN,NaN,NaN,NaN,A Estrenar,NaN,NaN,NaN
11,https://www.argenprop.com/oficina-en-alquiler-...,Rioja 1418 01-01,60000.0,NaN,40.0,NaN,1.0,NaN,40,NaN,NaN,NaN
14,https://www.argenprop.com/local-en-alquiler-en...,HIRIGOYEN al 1900,120000.0,NaN,NaN,NaN,1.0,NaN,A Estrenar,NaN,NaN,NaN
20,https://www.argenprop.com/local-en-alquiler-en...,Dean Funes 3000,60000.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
22,https://www.argenprop.com/oficina-en-alquiler-...,La Voz del Interior 8800,525000.0,NaN,144.0,NaN,1.0,NaN,8,NaN,Excelente,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
9299,https://www.argenprop.com/local-en-alquiler-en...,Oroño al 5600,NaN,3000.0,NaN,NaN,NaN,NaN,A Estrenar,NaN,NaN,NaN
9306,https://www.argenprop.com/local-en-alquiler-en...,3 de Febrero al 1700,180000.0,NaN,NaN,NaN,1.0,NaN,55,NaN,NaN,NaN
9309,https://www.argenprop.com/local-en-alquiler-en...,Zeballos 700,100000.0,NaN,NaN,NaN,1.0,NaN,53,NaN,NaN,NaN
9320,https://www.argenprop.com/cochera-en-alquiler-...,ESPAÑA 1300 COCH SUB 05,23000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9321,https://www.argenprop.com/local-en-alquiler-en...,Av. Uriburu 2000,180000.0,NaN,NaN,NaN,1.0,NaN,30,NaN,NaN,NaN

In [132]:
#TENEMOS VARIAS FILAS QUE CONTIENEN LA PALABRA 'local|oficina|cochera-en-alquiler|negocio', PROCEDEMOS A ELIMINARLAS.

nuevo_df = nuevo_df.drop(nuevo_df[nuevo_df['URL'].str.contains('local|oficina|cochera-en-alquiler|negocio|galpon|comercio')].index)

nuevo_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7832 entries, 0 to 9323
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   URL                 7832 non-null   object
 1   Ubicación           7832 non-null   object
 2   Precio ARS          1533 non-null   float64
 3   Precio USD          6106 non-null   float64
 4   Sup. cubierta [m²]  7050 non-null   float64
 5   Dormitorios         7014 non-null   object
 6   Baños               7425 non-null   float64
 7   Ambientes           7272 non-null   object
 8   Antigüedad [años]   2814 non-null   object
 9   Antiguedad [años]   4003 non-null   float64
 10  Estado              2210 non-null   object
 11  Toilettes           467 non-null    float64
dtypes: float64(6), object(6)
memory usage: 795.4+ KB

In [133]:
#SEGUIDAMENTE PROCEDEMOS A ELIMINAR LAS FILAS QUE SU PRECIO EN PESOS NO ALCANZAN LOS 20.000
menos20000 = nuevo_df.loc[nuevo_df['Precio ARS'] < 20000]
menos20000.info()

#ELIMINAMOS
nuevo_df = nuevo_df.drop(nuevo_df[nuevo_df['Precio ARS'] < 20000].index)

nuevo_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18 entries, 268 to 8675
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   URL                 18 non-null     object
 1   Ubicación           18 non-null     object
 2   Precio ARS          18 non-null     float64
 3   Precio USD          0 non-null      float64
 4   Sup. cubierta [m²]  16 non-null     float64
 5   Dormitorios         15 non-null     object
 6   Baños               16 non-null     float64
 7   Ambientes           18 non-null     object
 8   Antigüedad [años]   7 non-null      object
 9   Antiguedad [años]   5 non-null      float64
 10  Estado              7 non-null      object
 11  Toilettes           1 non-null      float64
dtypes: float64(6), object(6)
memory usage: 1.8+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 7814 entries, 0 to 9323
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   URL                 7814 non-null   object
 1   Ubicación           7814 non-null   object
 2   Precio ARS          1515 non-null   float64
 3   Precio USD          6106 non-null   float64
 4   Sup. cubierta [m²]  7034 non-null   float64
 5   Dormitorios         6999 non-null   object
 6   Baños               7409 non-null   float64
 7   Ambientes           7254 non-null   object
 8   Antigüedad [años]   2807 non-null   object
 9   Antiguedad [años]   3998 non-null   float64
 10  Estado              2203 non-null   object
 11  Toilettes           466 non-null    float64
dtypes: float64(6), object(6)
memory usage: 793.6+ KB

In [134]:
#CREAMOS UN DATAFRAME DE RESPALDO CON LAS PUBLICACIONES SIN PRECIO
df_vacias = nuevo_df.loc[(nuevo_df['Precio ARS'].isnull()) & (nuevo_df['Precio USD'].isnull())]

df_vacias

,URL,Ubicación,Precio ARS,Precio USD,Sup. cubierta [m²],Dormitorios,Baños,Ambientes,Antigüedad [años],Antiguedad [años],Estado,Toilettes
25,https://www.argenprop.com/casa-en-alquiler-en-...,Bvd Oroño 35 bis,NaN,NaN,430.0,6,4.0,10,90,NaN,NaN,NaN
74,https://www.argenprop.com/casa-en-alquiler-en-...,Consultar dirección,NaN,NaN,NaN,4,3.0,5,NaN,NaN,Excelente,NaN
307,https://www.argenprop.com/departamento-en-alqu...,"Castaños, Nordelta 100",NaN,NaN,96.0,3,2.0,5,NaN,0.0,Muy Bueno,NaN
342,https://www.argenprop.com/casa-en-alquiler-en-...,Martin Fierro al 900,NaN,NaN,NaN,3,1.0,5,40,NaN,NaN,NaN
405,https://www.argenprop.com/casa-en-alquiler-en-...,Junin al 1600,NaN,NaN,160.0,2,1.0,6,35,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
9151,https://www.argenprop.com/casa-en-alquiler-en-...,French 8500,NaN,NaN,300.0,4,3.0,11,30,NaN,Muy Bueno,NaN
9173,https://www.argenprop.com/departamento-en-alqu...,Marta Garrone 2100 - 1º Piso B,NaN,NaN,55.0,2,1.0,3,NaN,0.0,NaN,NaN
9177,https://www.argenprop.com/departamento-en-alqu...,Marta Garrone 2100 - Planta Baja B,NaN,NaN,55.0,1,1.0,2,NaN,0.0,NaN,NaN
9207,https://www.argenprop.com/casa-en-alquiler-en-...,Rio cuarto e/ Pilcomayo y Rio Dulce,NaN,NaN,NaN,1,1.0,2,A Estrenar,NaN,NaN,NaN
9300,https://www.argenprop.com/casa-en-alquiler-en-...,Av. Real 9191 - Rosario Golf Country Club '193,NaN,NaN,540.0,4,6.0,8,5,NaN,NaN,NaN

In [135]:
#ELIMINAMOS LAS PUBLICACIONES SIN PRECIO DEL DATAFRAME nuevo_df

nuevo_df = nuevo_df.drop(nuevo_df.loc[(nuevo_df['Precio ARS'].isnull()) & (nuevo_df['Precio USD'].isnull())].index)


nuevo_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7621 entries, 0 to 9323
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   URL                 7621 non-null   object
 1   Ubicación           7621 non-null   object
 2   Precio ARS          1515 non-null   float64
 3   Precio USD          6106 non-null   float64
 4   Sup. cubierta [m²]  6906 non-null   float64
 5   Dormitorios         6847 non-null   object
 6   Baños               7252 non-null   float64
 7   Ambientes           7112 non-null   object
 8   Antigüedad [años]   2715 non-null   object
 9   Antiguedad [años]   3955 non-null   float64
 10  Estado              2137 non-null   object
 11  Toilettes           460 non-null    float64
dtypes: float64(6), object(6)
memory usage: 774.0+ KB

In [136]:
# CONVERTIMOS LAS COLUMNAS VALUADAS EN PESOS A SU PRECIO EN DOLAR OFICIAL DEL DIA DE LA FECHA.
dolarhoy = 365
nuevo_df['Precio USD'].fillna(df['Precio ARS'] / dolarhoy, inplace=True)
nuevo_df.info()
# TENEMOS TODAS LAS PUBLICACIONES CON SU VALOR DEL ALQUILER COTIZADO EN DOLAR BLUE.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7621 entries, 0 to 9323
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   URL                 7621 non-null   object
 1   Ubicación           7621 non-null   object
 2   Precio ARS          1515 non-null   float64
 3   Precio USD          7621 non-null   float64
 4   Sup. cubierta [m²]  6906 non-null   float64
 5   Dormitorios         6847 non-null   object
 6   Baños               7252 non-null   float64
 7   Ambientes           7112 non-null   object
 8   Antigüedad [años]   2715 non-null   object
 9   Antiguedad [años]   3955 non-null   float64
 10  Estado              2137 non-null   object
 11  Toilettes           460 non-null    float64
dtypes: float64(6), object(6)
memory usage: 774.0+ KB

In [137]:
#EN LA COLUMNA DORMITORIOS OBSERVAMOS QUE ES DE TIPO OBJECT, Y QUE ADEMAS ENTRE SUS VALORES SE ENCUENTRA EL valor "Monoambiente"
# DEBEMOS CAMBIAR EL STRING POR  '1'.
# LUEGO CAMBIAMOS A FLOAT LOS VALORES CONTENIDOS EN LA COLUMNA
nuevo_df['Dormitorios'] = nuevo_df['Dormitorios'].replace('Monoambiente', "1")
nuevo_df['Dormitorios'] = nuevo_df['Dormitorios'].astype(float)
nuevo_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7621 entries, 0 to 9323
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   URL                 7621 non-null   object
 1   Ubicación           7621 non-null   object
 2   Precio ARS          1515 non-null   float64
 3   Precio USD          7621 non-null   float64
 4   Sup. cubierta [m²]  6906 non-null   float64
 5   Dormitorios         6847 non-null   float64
 6   Baños               7252 non-null   float64
 7   Ambientes           7112 non-null   object
 8   Antigüedad [años]   2715 non-null   object
 9   Antiguedad [años]   3955 non-null   float64
 10  Estado              2137 non-null   object
 11  Toilettes           460 non-null    float64
dtypes: float64(7), object(5)
memory usage: 774.0+ KB

In [138]:
#OBSERVAMOS LOS TIPOS DE VALORES CONTENIDOS EN LA COLUMNA "Ambientes", EN EL OBSERVAMOS QUE EXISTE UNA FILA CON EL VALOR 'ambientes ambientes'
nuevo_df["Ambientes"].value_counts()

4                      1583
2                      1392
3                      1228
5                      1078
0                       652
6                       570
7                       273
8                       180
10                       55
9                        47
12                       18
1                        11
13                        5
15                        5
11                        4
17                        4
18                        2
20                        2
56                        1
ambientes ambientes       1
14                        1
Name: Ambientes, dtype: int64

In [139]:
nuevo_df.loc[nuevo_df["Ambientes"] == 'ambientes ambientes']

,URL,Ubicación,Precio ARS,Precio USD,Sup. cubierta [m²],Dormitorios,Baños,Ambientes,Antigüedad [años],Antiguedad [años],Estado,Toilettes
4820,https://www.argenprop.com/casa-en-alquiler-en-...,Blvd. de Todos los Santos al 6000,NaN,1200.0,220.0,NaN,2.0,ambientes ambientes,10,NaN,NaN,NaN

In [140]:
#ELIMINAMOS
nuevo_df = nuevo_df.drop(nuevo_df[nuevo_df["Ambientes"] == 'ambientes ambientes'].index)
#CONVERTIMOS LA COLUMNA A FLOAT:

nuevo_df["Ambientes"] = nuevo_df["Ambientes"].astype(float)

In [141]:
nuevo_df.loc[nuevo_df["Ambientes"]>20]

,URL,Ubicación,Precio ARS,Precio USD,Sup. cubierta [m²],Dormitorios,Baños,Ambientes,Antigüedad [años],Antiguedad [años],Estado,Toilettes
4759,https://www.argenprop.com/casa-en-alquiler-en-...,SAN GABRIEL VILLANUEVA 100,NaN,1500.0,170.0,4.0,4.0,56.0,5,NaN,Excelente,NaN

In [142]:
# CON RESPECTO A LA COLUMNA "Antiguedad[Años]" LA COMBINAMOS CON LA DE NOMBRE SIMILAR, RELLENANDO LOS
# VALORES VACIOS DE UNA CON LOS DE LA OTRA COLUMNA SI ES QUE TIENE VALORES
nuevo_df['Antiguedad [años]'].fillna(df['Antigüedad [años]'], inplace=True)
nuevo_df['Antiguedad [años]'].value_counts()

0.0           922
A Estrenar    729
40.0          285
10.0          276
10            209
             ...
31.0            1
27              1
2008            1
2015            1
1970.0          1
Name: Antiguedad [años], Length: 175, dtype: int64

In [143]:
#OBSERVAMOS QUE EN LUGAR DE ANTIGUEDAD TENEMOS EL AÑO DE CREACION, Y ADEMAS QUE HAY 756 FILAS CON EL VALOR "A Estrenar"
#PRIMERO REEMPLAZAMOS EL VALOR "A estrenar" por "0"
#ELIMINAMOS LA COLUMNA 'Antigüedad [años]'
nuevo_df['Antiguedad [años]'] = nuevo_df['Antiguedad [años]'].replace('A Estrenar', "0")
nuevo_df['Antiguedad [años]'] = nuevo_df['Antiguedad [años]'].astype(float)
nuevo_df= nuevo_df.drop('Antigüedad [años]', axis=1)

In [144]:
nuevo_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7620 entries, 0 to 9323
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   URL                 7620 non-null   object
 1   Ubicación           7620 non-null   object
 2   Precio ARS          1515 non-null   float64
 3   Precio USD          7620 non-null   float64
 4   Sup. cubierta [m²]  6905 non-null   float64
 5   Dormitorios         6847 non-null   float64
 6   Baños               7251 non-null   float64
 7   Ambientes           7111 non-null   float64
 8   Antiguedad [años]   6669 non-null   float64
 9   Estado              2137 non-null   object
 10  Toilettes           460 non-null    float64
dtypes: float64(8), object(3)
memory usage: 714.4+ KB

In [145]:
#COMO MUCHOS VALORES TIENEN EL AÑO DE CREACION, VAMOS A CORREGIR ESOS VALORES, FILTRANDO CON LOS REGISTREN UN VALOR MAYOR A 500
#LUEGO RESTAMOS EL VALOR DE LA FILA POR EL AÑO ACTUAL (2023)
# Filtrar los valores mayores a 500

nuevo_df['Antiguedad [años]'] = nuevo_df['Antiguedad [años]'].apply(lambda x: 2023 - x if x > 400 else x)
nuevo_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7620 entries, 0 to 9323
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   URL                 7620 non-null   object
 1   Ubicación           7620 non-null   object
 2   Precio ARS          1515 non-null   float64
 3   Precio USD          7620 non-null   float64
 4   Sup. cubierta [m²]  6905 non-null   float64
 5   Dormitorios         6847 non-null   float64
 6   Baños               7251 non-null   float64
 7   Ambientes           7111 non-null   float64
 8   Antiguedad [años]   6669 non-null   float64
 9   Estado              2137 non-null   object
 10  Toilettes           460 non-null    float64
dtypes: float64(8), object(3)
memory usage: 714.4+ KB

In [146]:
#JUNTO LAS TABLAS BAÑOS Y TOILETTES
nuevo_df['Baños'].fillna(df['Toilettes'], inplace=True)
nuevo_df= nuevo_df.drop('Toilettes', axis=1)

In [147]:
#Completo los valores vacios en baños, con 1 baño.
nuevo_df['Baños'].fillna(1, inplace=True)
nuevo_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7620 entries, 0 to 9323
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   URL                 7620 non-null   object
 1   Ubicación           7620 non-null   object
 2   Precio ARS          1515 non-null   float64
 3   Precio USD          7620 non-null   float64
 4   Sup. cubierta [m²]  6905 non-null   float64
 5   Dormitorios         6847 non-null   float64
 6   Baños               7620 non-null   float64
 7   Ambientes           7111 non-null   float64
 8   Antiguedad [años]   6669 non-null   float64
 9   Estado              2137 non-null   object
dtypes: float64(7), object(3)
memory usage: 654.8+ KB

In [148]:
#REVISO LOS VALORES DE LA COLUMNA
nuevo_df['Baños'].value_counts()

1.0     3018
2.0     1928
3.0     1432
4.0      726
5.0      306
6.0      126
7.0       50
8.0       22
9.0        9
10.0       2
13.0       1
Name: Baños, dtype: int64

In [149]:
#REVISO LAS FILAS CON MAS DE 8 baños, observamos que los valores elevados corresponden a casas por ende los dejamos.
nuevo_df.loc[nuevo_df["Baños"]>8]

,URL,Ubicación,Precio ARS,Precio USD,Sup. cubierta [m²],Dormitorios,Baños,Ambientes,Antiguedad [años],Estado
2362,https://www.argenprop.com/casa-en-alquiler-en-...,"Ruta 88 Otamendi, Mar del Plata",NaN,1200.000000,1.0,9.0,10.0,13.0,50.0,NaN
2623,https://www.argenprop.com/casa-en-alquiler-en-...,Cabrera al 5100,NaN,5000.000000,305.0,7.0,9.0,10.0,10.0,NaN
2654,https://www.argenprop.com/casa-en-alquiler-en-...,Cabrera al 5100,NaN,5000.000000,305.0,7.0,9.0,10.0,10.0,NaN
2865,https://www.argenprop.com/casa-en-alquiler-en-...,Cabrera al 5100,NaN,5000.000000,305.0,7.0,9.0,10.0,10.0,NaN
2869,https://www.argenprop.com/casa-en-alquiler-en-...,Cabrera al 5100,NaN,5000.000000,305.0,7.0,9.0,10.0,10.0,NaN
3387,https://www.argenprop.com/casa-en-alquiler-en-...,Mariscal Ramón 100,NaN,9800.000000,500.0,4.0,9.0,5.0,NaN,NaN
5091,https://www.argenprop.com/casa-en-alquiler-en-...,Panamericana Km46,NaN,3500.000000,823.0,6.0,9.0,NaN,15.0,NaN
6030,https://www.argenprop.com/casa-en-alquiler-en-...,"Ruta 88 Otamendi, Mar del Plata",NaN,1200.000000,1.0,9.0,10.0,13.0,50.0,NaN
6331,https://www.argenprop.com/casa-en-alquiler-en-...,Mariscal Ramón 100,NaN,9800.000000,500.0,4.0,9.0,5.0,NaN,NaN
6766,https://www.argenprop.com/casa-en-alquiler-en-...,AYRES DE PIALAR,NaN,4200.000000,610.0,6.0,9.0,7.0,10.0,NaN
8119,https://www.argenprop.com/casa-en-alquiler-en-...,Rivadavia al 300 esquina Belgrano,NaN,11500.000000,1.0,NaN,13.0,NaN,10.0,NaN
8163,https://www.argenprop.com/casa-en-alquiler-en-...,Av. Del Libertador al 600,600000.0,1643.835616,350.0,9.0,9.0,12.0,50.0,NaN

In [150]:
nuevo_df["Estado"].value_counts()

Excelente        1275
Muy Bueno         677
Bueno             175
A Refaccionar       6
Regular             4
Name: Estado, dtype: int64

In [151]:
nuevo_df['Estado'].fillna("Bueno", inplace=True)
nuevo_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7620 entries, 0 to 9323
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   URL                 7620 non-null   object
 1   Ubicación           7620 non-null   object
 2   Precio ARS          1515 non-null   float64
 3   Precio USD          7620 non-null   float64
 4   Sup. cubierta [m²]  6905 non-null   float64
 5   Dormitorios         6847 non-null   float64
 6   Baños               7620 non-null   float64
 7   Ambientes           7111 non-null   float64
 8   Antiguedad [años]   6669 non-null   float64
 9   Estado              7620 non-null   object
dtypes: float64(7), object(3)
memory usage: 654.8+ KB

In [152]:
# Convertir la columna 'Precios Usd' a enteros usando .loc
nuevo_df.loc[:, 'Precio USD'] = nuevo_df['Precio USD'].astype(int)

<ipython-input-152-a9c3322eca12>:2: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  nuevo_df.loc[:, 'Precio USD'] = nuevo_df['Precio USD'].astype(int)

In [153]:
#OBSERVAMOS LOS VALORES DE LA COLUMNA
unique_values = nuevo_df['Precio USD'].unique()

print(unique_values)

[   1400    1000    1100     250    4000     420    5000    4500    2000
    1643     500     794     650     600    2800    3500     700    1700
     821     684     900    1041    1300     800    1200    6500     480
    2100   13000    1800    2200     120    1095   10000    1208    1500
    1600     850    7500     547    1232    6000    1378     356    4200
     493    2500    3000     540    1250    7000     958   15000     350
     602     575    2684     630     550    4800    1900     950     876
     450     750     460     400    3700     657     840     438    8000
     410    2700    2300     986    2400     153     320     370     465
    1150    2900    1178    3300    3200    3800     520    1750    3100
     680    1950    5500     490    1850     990     383    1534    1980
    8500    1369    1350     652    3250    3600     150    2465     301
    2191    1401    1917    2600     730    1890     739    1760    3900
     670     760     767  350000     380    4300   11500  304414    5499
     654     890    1450    1972     712     690    2850    2054     390
    1068    1342    1479    2950    4400    5800    2328     699     219
     849     430    9000    1050     328     904     232     300     315
     931     561     260     452    4700    1424     123    8400    1438
     205     589    9800     156    1287   12000     506    3400     197
     980     740   16000     221    2750     340   11000     136    2438
     246    5900   14000    2250     755    2120    3287    1190    2450
    1616    6800     405   35000    1780    4600    1990    1460     616
     391     273     835    1161     671    1356     753     620     770
     216    1821     191     880    1506   17000     842     287     534
     726    9500    7600     145    1013     580     158     202  115000
     790     816     178     164    2602     542    6200    9900   10500
     808    4109    7800    1301     780    1399   18000    2185    2410
     470     810     545    3325     256     330    2330    1753      76
     960    1650     268     424     397    2739    1863     624    1380
     479     271      95    7900     425    2587     224    5200    5100
    1602    3480  119400     399     570     640     161     265     280
    1390     195   20000     369     999    1499     361     720    4900
    1315     698   90000     200    9700     643    3479    5400    1790
    1175      82    3750     440     342     230     213    3698     169
      86  210000     590     270    1599    2499    8600    1480    3150
     201    2350 1100000    1027    7700     360     435     530    2050
    1870  148000     525    1440    1320     186    1430     323    1220
    1999    1210     284     572  164874     279     239      60     227
     210     252     243     175]

In [154]:
# ELIMINAMOS LAS FILAS CON PRECIO USD MAYOR A 15.000...
nuevo_df = nuevo_df.drop(nuevo_df[nuevo_df['Precio USD'] > 15000].index)

In [155]:
# ELIMINAMOS LAS FILAS CON Sup Cubierta MENOR A 5
nuevo_df = nuevo_df.drop(nuevo_df[nuevo_df['Sup. cubierta [m²]'] < 5].index)

#COMPLETAMOS DATOS NULOS

In [156]:
#ANTES DE COMPLETAR LOS DATOS NULOS PRIMERO OBSERVAREMOS LOS VALORES ESTADISTICOS DEL DATASET
nuevo_df.describe()

,Precio ARS,Precio USD,Sup. cubierta [m²],Dormitorios,Baños,Ambientes,Antiguedad [años]
count,1.499000e+03,7553.000000,6847.000000,6790.000000,7553.00000,7059.000000,6614.000000
mean,2.607754e+05,1904.685820,166.817292,2.667452,2.21978,3.719649,17.731932
std,1.973163e+05,1964.090456,143.992817,1.316534,1.35302,2.222728,20.073469
min,2.200000e+04,60.000000,6.000000,1.000000,1.00000,0.000000,-1.000000
25%,1.300000e+05,684.000000,55.000000,2.000000,1.00000,2.000000,0.000000
50%,2.000000e+05,1232.000000,122.000000,3.000000,2.00000,4.000000,10.000000
75%,3.000000e+05,2400.000000,232.000000,4.000000,3.00000,5.000000,30.000000
max,1.500000e+06,15000.000000,996.000000,18.000000,9.00000,56.000000,150.000000

In [157]:
#OBSERVADOS LOS DATOS SE PROCEDERA A:
#COMPLETAR VALORES NULOS DE LA COLUMNA DORMITORIOS CON EL VALOR '2'
nuevo_df["Dormitorios"].fillna(2, inplace=True)

#COMPLETAR LOS VALORES NULOS DE LA COLUMNA AMBIENTES CON EL VALOR '4'
nuevo_df["Ambientes"].fillna(4, inplace= True)
#COMPLETAR VALORES NULOS DE LA COLUMNA Sup. cubierta [m²] CON EL VALOR '167'
nuevo_df['Sup. cubierta [m²]'].fillna (167, inplace = True)

#COMPLETAR VALORES NULOS DE LA COLUMNA Antiguedad CON EL VALOR '17'
nuevo_df['Antiguedad [años]'].fillna (17, inplace= True)

In [158]:
nuevo_df.describe()

,Precio ARS,Precio USD,Sup. cubierta [m²],Dormitorios,Baños,Ambientes,Antiguedad [años]
count,1.499000e+03,7553.000000,7553.000000,7553.000000,7553.00000,7553.000000,7553.000000
mean,2.607754e+05,1904.685820,166.834370,2.600026,2.21978,3.737985,17.640937
std,1.973163e+05,1964.090456,137.097116,1.264360,1.35302,2.149918,18.785666
min,2.200000e+04,60.000000,6.000000,1.000000,1.00000,0.000000,-1.000000
25%,1.300000e+05,684.000000,60.000000,2.000000,1.00000,2.000000,2.000000
50%,2.000000e+05,1232.000000,149.000000,3.000000,2.00000,4.000000,14.000000
75%,3.000000e+05,2400.000000,220.000000,3.000000,3.00000,5.000000,25.000000
max,1.500000e+06,15000.000000,996.000000,18.000000,9.00000,56.000000,150.000000

In [159]:
# CSV PARCIAL... DESCARGA
nuevo_df.to_csv('df_v3.csv', index=False)