#IMPORTACION DE BIBLIOTECAS

In [ ]:
import pandas as pd
from bs4 import BeautifulSoup
import numpy as np

In [ ]:
#LECTURA DEL DATAFRAME
df = pd.read_csv('/content/[2023-9-10]propiedades_argenprop.csv')
df

,URL,Ubicación,Precio ARS,Precio USD,Expensas,Sup. cubierta [m²],Dormitorios,Baños,Ambientes,Cocheras,...,Tipo de coche,Tipo de acceso,Superficie cubierta,Cantidad baños,FOT,Toilletes,Sup. Cubierta,Pileta,Habitaciones,Descripción
0,https://www.argenprop.com/casa-en-alquiler-en-...,Honorio Pueyrredón 5500,NaN,1400.0,NaN,160.0,3,2.0,4,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.argenprop.com/casa-en-alquiler-en-...,Barrio Los Pilares,NaN,1000.0,NaN,NaN,2,2.0,3,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://www.argenprop.com/departamento-en-alqu...,Av. Balbin 2400,NaN,1100.0,NaN,76.0,2,2.0,3,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://www.argenprop.com/departamento-en-alqu...,Juramento al 1400,NaN,250.0,17500.0,35.0,NaN,1.0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://www.argenprop.com/casa-en-alquiler-en-...,Village Golf & Tennis,NaN,4000.0,NaN,330.0,4,2.0,6,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9319,https://www.argenprop.com/casa-en-alquiler-en-...,Centeno al 3200,130000.0,NaN,NaN,160.0,3,2.0,4,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9320,https://www.argenprop.com/cochera-en-alquiler-...,ESPAÑA 1300 COCH SUB 05,23000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9321,https://www.argenprop.com/local-en-alquiler-en...,Av. Uriburu 2000,180000.0,NaN,NaN,NaN,NaN,1.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9322,https://www.argenprop.com/departamento-en-alqu...,Avenida Pellegrini 600,80000.0,NaN,14000.0,35.0,NaN,1.0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9323,https://www.argenprop.com/departamento-en-alqu...,"Av. Portugal , Piso 04",100000.0,NaN,NaN,40.0,1,1.0,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#CONSULTAS VARIAS:

In [ ]:
df["Ambientes"].value_counts()

4                      1619
2                      1445
3                      1268
5                      1125
0                       777
6                       599
7                       288
8                       199
10                       66
9                        48
1                        29
12                       19
13                        7
11                        6
17                        5
15                        5
18                        2
20                        2
56                        1
ambientes ambientes       1
14                        1
Name: Ambientes, dtype: int64

In [ ]:
consulta = nuevo_df.loc[nuevo_df["Antigüedad [años]"] > 1000]
consulta.info()

TypeError: ignored

#DATAFRAME BASE

In [ ]:
df.columns

Index(['URL', 'Ubicación', 'Precio ARS', 'Precio USD', 'Expensas',
       'Sup. cubierta [m²]', 'Dormitorios', 'Baños', 'Ambientes', 'Cocheras',
       'Sup. terreno [m²]', 'Antigüedad [años]', 'Antiguedad [años]', 'Estado',
       'Disposición', 'Toilettes', 'Orientación', 'Apto profesional',
       'Sup. total [m²]', 'Seguridad', 'Permite mascota', 'Plantas',
       'Superficie Total', 'Longitud del Frente', 'Longitud del Fondo',
       'Altura Techo', 'Tipo de Baño', 'Tipo de local', 'En Edificio',
       'Longitud del frente', 'Longitud del fondo', 'Tipo de Terreno',
       'Sup. Total', 'Sup. descubierta [m²]', 'Galería/Shopping',
       'Agua corriente', 'Tipo de cochera', 'Tipo de cobertura',
       'Tipo de coche', 'Tipo de acceso', 'Superficie cubierta',
       'Cantidad baños', 'FOT', 'Toilletes', 'Sup. Cubierta', 'Pileta',
       'Habitaciones', 'Descripción'],
      dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9324 entries, 0 to 9323
Data columns (total 48 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   URL                    9324 non-null   object
 1   Ubicación              9324 non-null   object
 2   Precio ARS             2441 non-null   float64
 3   Precio USD             6570 non-null   float64
 4   Expensas               3412 non-null   float64
 5   Sup. cubierta [m²]     7694 non-null   float64
 6   Dormitorios            7014 non-null   object
 7   Baños                  8334 non-null   float64
 8   Ambientes              7512 non-null   object
 9   Cocheras               4607 non-null   float64
 10  Sup. terreno [m²]      2587 non-null   float64
 11  Antigüedad [años]      3898 non-null   object
 12  Antiguedad [años]      4004 non-null   float64
 13  Estado                 2451 non-null   object
 14  Disposición            1317 non-null   object
 15  Toilettes              484 non-null    float64
 16  Orientación            1347 non-null   object
 17  Apto profesional       693 non-null    object
 18  Sup. total [m²]        542 non-null    float64
 19  Seguridad              111 non-null    object
 20  Permite mascota        107 non-null    object
 21  Plantas                207 non-null    object
 22  Superficie Total       30 non-null     object
 23  Longitud del Frente    20 non-null     object
 24  Longitud del Fondo     19 non-null     object
 25  Altura Techo           12 non-null     object
 26  Tipo de Baño           17 non-null     object
 27  Tipo de local          81 non-null     object
 28  En Edificio            120 non-null    object
 29  Longitud del frente    72 non-null     object
 30  Longitud del fondo     71 non-null     object
 31  Tipo de Terreno        2 non-null      object
 32  Sup. Total             1 non-null      object
 33  Sup. descubierta [m²]  26 non-null     float64
 34  Galería/Shopping       6 non-null      object
 35  Agua corriente         30 non-null     object
 36  Tipo de cochera        6 non-null      object
 37  Tipo de cobertura      6 non-null      object
 38  Tipo de coche          4 non-null      object
 39  Tipo de acceso         6 non-null      object
 40  Superficie cubierta    3 non-null      object
 41  Cantidad baños         1 non-null      object
 42  FOT                    2 non-null      float64
 43  Toilletes              2 non-null      object
 44  Sup. Cubierta          1 non-null      object
 45  Pileta                 1 non-null      object
 46  Habitaciones           1 non-null      object
 47  Descripción            1 non-null      object
dtypes: float64(12), object(36)
memory usage: 3.4+ MB

In [ ]:
seleccionC= ['URL', 'Ubicación', 'Precio ARS', 'Precio USD', 'Expensas','Sup. cubierta [m²]', 'Dormitorios', 'Baños', 'Ambientes', 'Cocheras',
       'Sup. terreno [m²]', 'Antigüedad [años]', 'Antiguedad [años]', 'Estado',
       'Toilettes']

In [ ]:
nuevo_df = df[seleccionC]
nuevo_df

,URL,Ubicación,Precio ARS,Precio USD,Expensas,Sup. cubierta [m²],Dormitorios,Baños,Ambientes,Cocheras,Sup. terreno [m²],Antigüedad [años],Antiguedad [años],Estado,Toilettes
0,https://www.argenprop.com/casa-en-alquiler-en-...,Honorio Pueyrredón 5500,NaN,1400.0,NaN,160.0,3,2.0,4,4.0,1.0,NaN,NaN,NaN,NaN
1,https://www.argenprop.com/casa-en-alquiler-en-...,Barrio Los Pilares,NaN,1000.0,NaN,NaN,2,2.0,3,2.0,800.0,14,NaN,NaN,NaN
2,https://www.argenprop.com/departamento-en-alqu...,Av. Balbin 2400,NaN,1100.0,NaN,76.0,2,2.0,3,1.0,NaN,NaN,11.0,Muy Bueno,NaN
3,https://www.argenprop.com/departamento-en-alqu...,Juramento al 1400,NaN,250.0,17500.0,35.0,NaN,1.0,0,NaN,NaN,NaN,40.0,NaN,NaN
4,https://www.argenprop.com/casa-en-alquiler-en-...,Village Golf & Tennis,NaN,4000.0,NaN,330.0,4,2.0,6,1.0,900.0,A Estrenar,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9319,https://www.argenprop.com/casa-en-alquiler-en-...,Centeno al 3200,130000.0,NaN,NaN,160.0,3,2.0,4,1.0,102.0,A Estrenar,NaN,NaN,NaN
9320,https://www.argenprop.com/cochera-en-alquiler-...,ESPAÑA 1300 COCH SUB 05,23000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9321,https://www.argenprop.com/local-en-alquiler-en...,Av. Uriburu 2000,180000.0,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,30,NaN,NaN,NaN
9322,https://www.argenprop.com/departamento-en-alqu...,Avenida Pellegrini 600,80000.0,NaN,14000.0,35.0,NaN,1.0,0,NaN,NaN,NaN,55.0,NaN,NaN
9323,https://www.argenprop.com/departamento-en-alqu...,"Av. Portugal , Piso 04",100000.0,NaN,NaN,40.0,1,1.0,2,NaN,NaN,NaN,7.0,NaN,NaN

In [ ]:
nuevo_df.shape

(9324, 15)

In [ ]:
nuevo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9324 entries, 0 to 9323
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   URL                 9324 non-null   object
 1   Ubicación           9324 non-null   object
 2   Precio ARS          2441 non-null   float64
 3   Precio USD          6570 non-null   float64
 4   Expensas            3412 non-null   float64
 5   Sup. cubierta [m²]  7694 non-null   float64
 6   Dormitorios         7014 non-null   object
 7   Baños               8334 non-null   float64
 8   Ambientes           7512 non-null   object
 9   Cocheras            4607 non-null   float64
 10  Sup. terreno [m²]   2587 non-null   float64
 11  Antigüedad [años]   3898 non-null   object
 12  Antiguedad [años]   4004 non-null   float64
 13  Estado              2451 non-null   object
 14  Toilettes           484 non-null    float64
dtypes: float64(9), object(6)
memory usage: 1.1+ MB

#ANALISIS Y LIMPIEZA

In [ ]:
#LUEGO DE LA SELECCION DE LAS COLUMNAS, COMENZAMOS LA LIMPIEZA DE DATOS DENTRO DE CADA COLUMNA.
#EN PRIMER LUGAR QUITAREMOS DE LA COLUMNA 'URL' TODAS LAS FILAS QUE CONTENGAN LAS PALABRAS 'LOCAL, COCHERA, NEGOCIO Y OFICINA'

localyoficina = nuevo_df.loc[nuevo_df['URL'].str.contains('local|oficina|cochera-en-alquiler|negocio')]
localyoficina

,URL,Ubicación,Precio ARS,Precio USD,Expensas,Sup. cubierta [m²],Dormitorios,Baños,Ambientes,Cocheras,Sup. terreno [m²],Antigüedad [años],Antiguedad [años],Estado,Toilettes
6,https://www.argenprop.com/local-en-alquiler-en...,AV DEL ROSARIO 800,180000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A Estrenar,NaN,NaN,NaN
11,https://www.argenprop.com/oficina-en-alquiler-...,Rioja 1418 01-01,60000.0,NaN,8000.0,40.0,NaN,1.0,NaN,NaN,NaN,40,NaN,NaN,NaN
14,https://www.argenprop.com/local-en-alquiler-en...,HIRIGOYEN al 1900,120000.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,A Estrenar,NaN,NaN,NaN
20,https://www.argenprop.com/local-en-alquiler-en...,Dean Funes 3000,60000.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,https://www.argenprop.com/oficina-en-alquiler-...,La Voz del Interior 8800,525000.0,NaN,45000.0,144.0,NaN,1.0,NaN,NaN,NaN,8,NaN,Excelente,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9299,https://www.argenprop.com/local-en-alquiler-en...,Oroño al 5600,NaN,3000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A Estrenar,NaN,NaN,NaN
9306,https://www.argenprop.com/local-en-alquiler-en...,3 de Febrero al 1700,180000.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,55,NaN,NaN,NaN
9309,https://www.argenprop.com/local-en-alquiler-en...,Zeballos 700,100000.0,NaN,2200.0,NaN,NaN,1.0,NaN,NaN,NaN,53,NaN,NaN,NaN
9320,https://www.argenprop.com/cochera-en-alquiler-...,ESPAÑA 1300 COCH SUB 05,23000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9321,https://www.argenprop.com/local-en-alquiler-en...,Av. Uriburu 2000,180000.0,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,30,NaN,NaN,NaN

In [ ]:
#TENEMOS VARIAS FILAS QUE CONTIENEN LA PALABRA 'local|oficina|cochera-en-alquiler|negocio', PROCEDEMOS A ELIMINARLAS.

nuevo_df = nuevo_df.drop(nuevo_df[nuevo_df['URL'].str.contains('local|oficina|cochera-en-alquiler|negocio')].index)

nuevo_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7978 entries, 0 to 9323
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   URL                 7978 non-null   object
 1   Ubicación           7978 non-null   object
 2   Precio ARS          1625 non-null   float64
 3   Precio USD          6136 non-null   float64
 4   Expensas            2956 non-null   float64
 5   Sup. cubierta [m²]  7164 non-null   float64
 6   Dormitorios         7014 non-null   object
 7   Baños               7503 non-null   float64
 8   Ambientes           7272 non-null   object
 9   Cocheras            4338 non-null   float64
 10  Sup. terreno [m²]   2587 non-null   float64
 11  Antigüedad [años]   2900 non-null   object
 12  Antiguedad [años]   4004 non-null   float64
 13  Estado              2229 non-null   object
 14  Toilettes           467 non-null    float64
dtypes: float64(9), object(6)
memory usage: 997.2+ KB

In [ ]:
#SEGUIDAMENTE PROCEDEMOS A ELIMINAR LAS FILAS QUE SU PRECIO EN PESOS NO ALCANZAN LOS 20.000
menos20000 = nuevo_df.loc[nuevo_df['Precio ARS'] < 20000]
menos20000.info()

#ELIMINAMOS
nuevo_df = nuevo_df.drop(nuevo_df[nuevo_df['Precio ARS'] < 20000].index)

nuevo_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26 entries, 268 to 8986
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   URL                 26 non-null     object
 1   Ubicación           26 non-null     object
 2   Precio ARS          26 non-null     float64
 3   Precio USD          0 non-null      float64
 4   Expensas            3 non-null      float64
 5   Sup. cubierta [m²]  24 non-null     float64
 6   Dormitorios         15 non-null     object
 7   Baños               16 non-null     float64
 8   Ambientes           18 non-null     object
 9   Cocheras            9 non-null      float64
 10  Sup. terreno [m²]   4 non-null      float64
 11  Antigüedad [años]   14 non-null     object
 12  Antiguedad [años]   5 non-null      float64
 13  Estado              7 non-null      object
 14  Toilettes           1 non-null      float64
dtypes: float64(9), object(6)
memory usage: 3.2+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 7952 entries, 0 to 9323
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   URL                 7952 non-null   object
 1   Ubicación           7952 non-null   object
 2   Precio ARS          1599 non-null   float64
 3   Precio USD          6136 non-null   float64
 4   Expensas            2953 non-null   float64
 5   Sup. cubierta [m²]  7140 non-null   float64
 6   Dormitorios         6999 non-null   object
 7   Baños               7487 non-null   float64
 8   Ambientes           7254 non-null   object
 9   Cocheras            4329 non-null   float64
 10  Sup. terreno [m²]   2583 non-null   float64
 11  Antigüedad [años]   2886 non-null   object
 12  Antiguedad [años]   3999 non-null   float64
 13  Estado              2222 non-null   object
 14  Toilettes           466 non-null    float64
dtypes: float64(9), object(6)
memory usage: 994.0+ KB

In [ ]:
#CREAMOS UN DATAFRAME DE RESPALDO CON LAS PUBLICACIONES SIN PRECIO
df_vacias = nuevo_df.loc[(nuevo_df['Precio ARS'].isnull()) & (nuevo_df['Precio USD'].isnull())]

df_vacias

,URL,Ubicación,Precio ARS,Precio USD,Expensas,Sup. cubierta [m²],Dormitorios,Baños,Ambientes,Cocheras,Sup. terreno [m²],Antigüedad [años],Antiguedad [años],Estado,Toilettes
25,https://www.argenprop.com/casa-en-alquiler-en-...,Bvd Oroño 35 bis,NaN,NaN,NaN,430.0,6,4.0,10,1.0,281.0,90,NaN,NaN,NaN
74,https://www.argenprop.com/casa-en-alquiler-en-...,Consultar dirección,NaN,NaN,NaN,NaN,4,3.0,5,NaN,NaN,NaN,NaN,Excelente,NaN
307,https://www.argenprop.com/departamento-en-alqu...,"Castaños, Nordelta 100",NaN,NaN,NaN,96.0,3,2.0,5,NaN,NaN,NaN,0.0,Muy Bueno,NaN
342,https://www.argenprop.com/casa-en-alquiler-en-...,Martin Fierro al 900,NaN,NaN,NaN,NaN,3,1.0,5,1.0,292.0,40,NaN,NaN,NaN
405,https://www.argenprop.com/casa-en-alquiler-en-...,Junin al 1600,NaN,NaN,NaN,160.0,2,1.0,6,2.0,NaN,35,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9151,https://www.argenprop.com/casa-en-alquiler-en-...,French 8500,NaN,NaN,NaN,300.0,4,3.0,11,2.0,892.0,30,NaN,Muy Bueno,NaN
9173,https://www.argenprop.com/departamento-en-alqu...,Marta Garrone 2100 - 1º Piso B,NaN,NaN,NaN,55.0,2,1.0,3,1.0,NaN,NaN,0.0,NaN,NaN
9177,https://www.argenprop.com/departamento-en-alqu...,Marta Garrone 2100 - Planta Baja B,NaN,NaN,NaN,55.0,1,1.0,2,1.0,NaN,NaN,0.0,NaN,NaN
9207,https://www.argenprop.com/casa-en-alquiler-en-...,Rio cuarto e/ Pilcomayo y Rio Dulce,NaN,NaN,NaN,NaN,1,1.0,2,2.0,400.0,A Estrenar,NaN,NaN,NaN
9300,https://www.argenprop.com/casa-en-alquiler-en-...,Av. Real 9191 - Rosario Golf Country Club '193,NaN,NaN,NaN,540.0,4,6.0,8,3.0,1.0,5,NaN,NaN,NaN

In [ ]:
#ELIMINAMOS LAS PUBLICACIONES SIN PRECIO DEL DATAFRAME nuevo_df

nuevo_df = nuevo_df.drop(nuevo_df.loc[(nuevo_df['Precio ARS'].isnull()) & (nuevo_df['Precio USD'].isnull())].index)


nuevo_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7735 entries, 0 to 9323
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   URL                 7735 non-null   object
 1   Ubicación           7735 non-null   object
 2   Precio ARS          1599 non-null   float64
 3   Precio USD          6136 non-null   float64
 4   Expensas            2911 non-null   float64
 5   Sup. cubierta [m²]  6995 non-null   float64
 6   Dormitorios         6847 non-null   object
 7   Baños               7316 non-null   float64
 8   Ambientes           7112 non-null   object
 9   Cocheras            4228 non-null   float64
 10  Sup. terreno [m²]   2508 non-null   float64
 11  Antigüedad [años]   2777 non-null   object
 12  Antiguedad [años]   3956 non-null   float64
 13  Estado              2152 non-null   object
 14  Toilettes           460 non-null    float64
dtypes: float64(9), object(6)
memory usage: 966.9+ KB

In [ ]:
# CONVERTIMOS LAS COLUMNAS VALUADAS EN PESOS A SU PRECIO EN DOLAR BLUE DEL DIA DE LA FECHA
dolarhoy = 1100
nuevo_df['Precio USD'].fillna(df['Precio ARS'] / dolarhoy, inplace=True)
nuevo_df.info()
# TENEMOS TODAS LAS PUBLICACIONES CON SU VALOR DEL ALQUILER COTIZADO EN DOLAR BLUE.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7735 entries, 0 to 9323
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   URL                 7735 non-null   object
 1   Ubicación           7735 non-null   object
 2   Precio ARS          1599 non-null   float64
 3   Precio USD          7735 non-null   float64
 4   Expensas            2911 non-null   float64
 5   Sup. cubierta [m²]  6995 non-null   float64
 6   Dormitorios         6847 non-null   object
 7   Baños               7316 non-null   float64
 8   Ambientes           7112 non-null   object
 9   Cocheras            4228 non-null   float64
 10  Sup. terreno [m²]   2508 non-null   float64
 11  Antigüedad [años]   2777 non-null   object
 12  Antiguedad [años]   3956 non-null   float64
 13  Estado              2152 non-null   object
 14  Toilettes           460 non-null    float64
dtypes: float64(9), object(6)
memory usage: 966.9+ KB

In [ ]:
#EN LA COLUMNA DORMITORIOS OBSERVAMOS QUE ES DE TIPO OBJECT, Y QUE ADEMAS ENTRE SUS VALORES SE ENCUENTRA EL valor "Monoambiente"
# DEBEMOS CAMBIAR EL STRING POR  '1'.
# LUEGO CAMBIAMOS A FLOAT LOS VALORES CONTENIDOS EN LA COLUMNA
nuevo_df['Dormitorios'] = nuevo_df['Dormitorios'].replace('Monoambiente', "1")
nuevo_df['Dormitorios'] = nuevo_df['Dormitorios'].astype(float)
nuevo_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7735 entries, 0 to 9323
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   URL                 7735 non-null   object
 1   Ubicación           7735 non-null   object
 2   Precio ARS          1599 non-null   float64
 3   Precio USD          7735 non-null   float64
 4   Expensas            2911 non-null   float64
 5   Sup. cubierta [m²]  6995 non-null   float64
 6   Dormitorios         6847 non-null   float64
 7   Baños               7316 non-null   float64
 8   Ambientes           7112 non-null   object
 9   Cocheras            4228 non-null   float64
 10  Sup. terreno [m²]   2508 non-null   float64
 11  Antigüedad [años]   2777 non-null   object
 12  Antiguedad [años]   3956 non-null   float64
 13  Estado              2152 non-null   object
 14  Toilettes           460 non-null    float64
dtypes: float64(10), object(5)
memory usage: 966.9+ KB

In [ ]:
#OBSERVAMOS LOS TIPOS DE VALORES CONTENIDOS EN LA COLUMNA "Ambientes", EN EL OBSERVAMOS QUE EXISTE UNA FILA CON EL VALOR 'ambientes ambientes'
nuevo_df["Ambientes"].value_counts()

4                      1583
2                      1392
3                      1228
5                      1078
0                       652
6                       570
7                       273
8                       180
10                       55
9                        47
12                       18
1                        11
13                        5
15                        5
11                        4
17                        4
18                        2
20                        2
56                        1
ambientes ambientes       1
14                        1
Name: Ambientes, dtype: int64

In [ ]:
nuevo_df.loc[nuevo_df["Ambientes"] == 'ambientes ambientes']

,URL,Ubicación,Precio ARS,Precio USD,Expensas,Sup. cubierta [m²],Dormitorios,Baños,Ambientes,Cocheras,Sup. terreno [m²],Antigüedad [años],Antiguedad [años],Estado,Toilettes
4820,https://www.argenprop.com/casa-en-alquiler-en-...,Blvd. de Todos los Santos al 6000,NaN,1200.0,NaN,220.0,NaN,2.0,ambientes ambientes,1.0,1.0,10,NaN,NaN,NaN

In [ ]:
#ELIMINAMOS
nuevo_df = nuevo_df.drop(nuevo_df[nuevo_df["Ambientes"] == 'ambientes ambientes'].index)
#CONVERTIMOS LA COLUMNA A FLOAT:

nuevo_df["Ambientes"] = nuevo_df["Ambientes"].astype(float)

In [ ]:
nuevo_df.loc[nuevo_df["Ambientes"]>20]

,URL,Ubicación,Precio ARS,Precio USD,Expensas,Sup. cubierta [m²],Dormitorios,Baños,Ambientes,Cocheras,Sup. terreno [m²],Antigüedad [años],Antiguedad [años],Estado,Toilettes
4759,https://www.argenprop.com/casa-en-alquiler-en-...,SAN GABRIEL VILLANUEVA 100,NaN,1500.0,NaN,170.0,4.0,4.0,56.0,NaN,750.0,5,NaN,Excelente,NaN

In [ ]:
# CON RESPECTO A LA COLUMNA "Antiguedad[Años]" LA COMBINAMOS CON LA DE NOMBRE SIMILAR, RELLENANDO LOS
# VALORES VACIOS DE UNA CON LOS DE LA OTRA COLUMNA SI ES QUE TIENE VALORES
nuevo_df['Antiguedad [años]'].fillna(df['Antigüedad [años]'], inplace=True)
nuevo_df['Antiguedad [años]'].value_counts()

0.0           922
A Estrenar    756
40.0          285
10.0          276
10            212
             ...
31.0            1
2018            1
44              1
57              1
1970.0          1
Name: Antiguedad [años], Length: 178, dtype: int64

In [ ]:
#OBSERVAMOS QUE EN LUGAR DE ANTIGUEDAD TENEMOS EL AÑO DE CREACION, Y ADEMAS QUE HAY 756 FILAS CON EL VALOR "A Estrenar"
#PRIMERO REEMPLAZAMOS EL VALOR "A estrenar" por "0"
#ELIMINAMOS LA COLUMNA 'Antigüedad [años]'
nuevo_df['Antiguedad [años]'] = nuevo_df['Antiguedad [años]'].replace('A Estrenar', "0")
nuevo_df['Antiguedad [años]'] = nuevo_df['Antiguedad [años]'].astype(float)
nuevo_df= nuevo_df.drop('Antigüedad [años]', axis=1)

In [ ]:
nuevo_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7734 entries, 0 to 9323
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   URL                 7734 non-null   object
 1   Ubicación           7734 non-null   object
 2   Precio ARS          1599 non-null   float64
 3   Precio USD          7734 non-null   float64
 4   Expensas            2911 non-null   float64
 5   Sup. cubierta [m²]  6994 non-null   float64
 6   Dormitorios         6847 non-null   float64
 7   Baños               7315 non-null   float64
 8   Ambientes           7111 non-null   float64
 9   Cocheras            4227 non-null   float64
 10  Sup. terreno [m²]   2507 non-null   float64
 11  Antiguedad [años]   6732 non-null   float64
 12  Estado              2152 non-null   object
 13  Toilettes           460 non-null    float64
dtypes: float64(11), object(3)
memory usage: 906.3+ KB

In [ ]:
#COMO MUCHOS VALORES TIENEN EL AÑO DE CREACION, VAMOS A CORREGIR ESOS VALORES, FILTRANDO CON LOS REGISTREN UN VALOR MAYOR A 500
#LUEGO RESTAMOS EL VALOR DE LA FILA POR EL AÑO ACTUAL (2023)
# Filtrar los valores mayores a 500

nuevo_df['Antiguedad [años]'] = nuevo_df['Antiguedad [años]'].apply(lambda x: 2023 - x if x > 400 else x)
nuevo_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7734 entries, 0 to 9323
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   URL                 7734 non-null   object
 1   Ubicación           7734 non-null   object
 2   Precio ARS          1599 non-null   float64
 3   Precio USD          7734 non-null   float64
 4   Expensas            2911 non-null   float64
 5   Sup. cubierta [m²]  6994 non-null   float64
 6   Dormitorios         6847 non-null   float64
 7   Baños               7315 non-null   float64
 8   Ambientes           7111 non-null   float64
 9   Cocheras            4227 non-null   float64
 10  Sup. terreno [m²]   2507 non-null   float64
 11  Antiguedad [años]   6732 non-null   float64
 12  Estado              2152 non-null   object
 13  Toilettes           460 non-null    float64
dtypes: float64(11), object(3)
memory usage: 906.3+ KB

In [ ]:
#JUNTO LAS TABLAS BAÑOS Y TOILETTES
nuevo_df['Baños'].fillna(df['Toilettes'], inplace=True)
nuevo_df= nuevo_df.drop('Toilettes', axis=1)

In [ ]:
#Completo los valores vacios en baños, con al menos 1 baño.
nuevo_df['Baños'].fillna(1, inplace=True)
nuevo_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7734 entries, 0 to 9323
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   URL                 7734 non-null   object
 1   Ubicación           7734 non-null   object
 2   Precio ARS          1599 non-null   float64
 3   Precio USD          7734 non-null   float64
 4   Expensas            2911 non-null   float64
 5   Sup. cubierta [m²]  6994 non-null   float64
 6   Dormitorios         6847 non-null   float64
 7   Baños               7734 non-null   float64
 8   Ambientes           7111 non-null   float64
 9   Cocheras            4227 non-null   float64
 10  Sup. terreno [m²]   2507 non-null   float64
 11  Antiguedad [años]   6732 non-null   float64
 12  Estado              2152 non-null   object
dtypes: float64(10), object(3)
memory usage: 845.9+ KB

In [ ]:
#REVISO LOS VALORES DE LA COLUMNA
nuevo_df['Baños'].value_counts()

1.0     3098
2.0     1950
3.0     1436
4.0      733
5.0      307
6.0      126
7.0       50
8.0       22
9.0        9
10.0       2
13.0       1
Name: Baños, dtype: int64

In [ ]:
#REVISO LAS FILAS CON MAS DE 8 baños, observamos que los valores elevados corresponden a casas por ende los dejamos.
nuevo_df.loc[nuevo_df["Baños"]>8]

,URL,Ubicación,Precio ARS,Precio USD,Expensas,Sup. cubierta [m²],Dormitorios,Baños,Ambientes,Cocheras,Sup. terreno [m²],Antiguedad [años],Estado
2362,https://www.argenprop.com/casa-en-alquiler-en-...,"Ruta 88 Otamendi, Mar del Plata",NaN,1200.000000,NaN,1.0,9.0,10.0,13.0,5.0,5.0,50.0,NaN
2623,https://www.argenprop.com/casa-en-alquiler-en-...,Cabrera al 5100,NaN,5000.000000,NaN,305.0,7.0,9.0,10.0,NaN,NaN,10.0,NaN
2654,https://www.argenprop.com/casa-en-alquiler-en-...,Cabrera al 5100,NaN,5000.000000,NaN,305.0,7.0,9.0,10.0,NaN,NaN,10.0,NaN
2865,https://www.argenprop.com/casa-en-alquiler-en-...,Cabrera al 5100,NaN,5000.000000,NaN,305.0,7.0,9.0,10.0,NaN,NaN,10.0,NaN
2869,https://www.argenprop.com/casa-en-alquiler-en-...,Cabrera al 5100,NaN,5000.000000,NaN,305.0,7.0,9.0,10.0,NaN,NaN,10.0,NaN
3387,https://www.argenprop.com/casa-en-alquiler-en-...,Mariscal Ramón 100,NaN,9800.000000,NaN,500.0,4.0,9.0,5.0,2.0,500.0,NaN,NaN
5091,https://www.argenprop.com/casa-en-alquiler-en-...,Panamericana Km46,NaN,3500.000000,NaN,823.0,6.0,9.0,NaN,2.0,4.0,15.0,NaN
6030,https://www.argenprop.com/casa-en-alquiler-en-...,"Ruta 88 Otamendi, Mar del Plata",NaN,1200.000000,NaN,1.0,9.0,10.0,13.0,5.0,5.0,50.0,NaN
6331,https://www.argenprop.com/casa-en-alquiler-en-...,Mariscal Ramón 100,NaN,9800.000000,NaN,500.0,4.0,9.0,5.0,2.0,500.0,NaN,NaN
6766,https://www.argenprop.com/casa-en-alquiler-en-...,AYRES DE PIALAR,NaN,4200.000000,NaN,610.0,6.0,9.0,7.0,3.0,2.0,10.0,NaN
8119,https://www.argenprop.com/casa-en-alquiler-en-...,Rivadavia al 300 esquina Belgrano,NaN,11500.000000,NaN,1.0,NaN,13.0,NaN,8.0,465.0,10.0,NaN
8163,https://www.argenprop.com/casa-en-alquiler-en-...,Av. Del Libertador al 600,600000.0,545.454545,NaN,350.0,9.0,9.0,12.0,NaN,400.0,50.0,NaN

In [ ]:
nuevo_df["Estado"].value_counts()

Excelente        1280
Muy Bueno         686
Bueno             176
A Refaccionar       6
Regular             4
Name: Estado, dtype: int64

In [ ]:
nuevo_df['Estado'].fillna("Bueno", inplace=True)
nuevo_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7734 entries, 0 to 9323
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   URL                 7734 non-null   object
 1   Ubicación           7734 non-null   object
 2   Precio ARS          1599 non-null   float64
 3   Precio USD          7734 non-null   float64
 4   Expensas            2911 non-null   float64
 5   Sup. cubierta [m²]  6994 non-null   float64
 6   Dormitorios         6847 non-null   float64
 7   Baños               7734 non-null   float64
 8   Ambientes           7111 non-null   float64
 9   Cocheras            4227 non-null   float64
 10  Sup. terreno [m²]   2507 non-null   float64
 11  Antiguedad [años]   6732 non-null   float64
 12  Estado              7734 non-null   object
dtypes: float64(10), object(3)
memory usage: 845.9+ KB

In [ ]:
# CSV PARCIAL... DESCARGA
nuevo_df.to_csv('df_v2.csv', index=False)